ul li{
    list-style-type: none;
}
*{
    margin: 0;
}
a{
    text-decoration: none;
    color: #288ad6;
}
a:hover{
    text-decoration: none;
    color: coral;
}
figcaption{
    text-align: center;
    padding-top: 10px;
}
#main-content-show .container{
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: white;
    box-shadow: 0px 0px 10px #787886;
}
/* ---------------------CONTENT-PRODUCT-------------------- */
aside{
    float: left;
}

#image-product img{
    /* width: 450px;
    height: 470px; */
    width: 67%;
    height: 50%;
}
#more-images img{
    width: 60px;
    height: 54px;
}
#more-images ul li {
    border-style: groove;
    display: inline-block;
    border-color: #f8f8f96b;
}
#see-more{
    float: right;
    margin-right: 100px;
}
#promotion-zero{
    border-style: dashed;
    border-width: 1px;
    border-color: #3af40375;
    border-radius: 6px;
    padding: 10px;
}
#promotion-zero .attached-product{
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
}
#promotion-zero ul{
    padding: 0;
    padding-top: 10px;
    margin: auto;
    width: 90%;
}
#promotion-zero figure{
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}
#promotion-zero ul li{
    display: inline-block;
}
#price-sale strong{
    color: red;
    font-size: large;
}
#area-order{
    height: 60px;
}
#area-order a{
    background:red;
    height: 55px;
    float: left;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 5px;
}
#area-order span{
    font-size: small;
    display: block;
}
#area-order .order-now{
    padding-top: 0px;
    width: 48%;
    background: #f78707;
}
#area-order .add-cart{
    padding-top: 14px;
    width: 48%;
    float: right;
    background: #288ad6;
}
.contact{
    text-align: center;
    padding: 10px 0 10px 0;
}
.contact span{
    color: blue;
}
#policy ul li{
    padding: 3px;
    list-style-type: circle;
}
#wrap-info .promotion span{
    color: #288ad6;
}
#wrap-info .promotion{
    padding: 5px;
    border-style: dashed;
    border-color: #efc954de;
    border-width: 1px;
    border-radius: 5px;
}
#detailed-product-dialog{
    width: 60%;
    margin: auto;
    background: #288ad6;
    z-index: 99;
    height: 1000px;
    overflow: hidden;
}
#table-parameter{
    display: inline-block;
    border-style: groove;
    border-radius: 5px;
    border-color: #64b2ed3d;
    background: #f0f8ff99;
    margin-top: 7px;
}
#table-parameter li{
    list-style-type: circle;
    padding: 0;
}
#table-parameter ul{
    float: left;
    width: 275px;
}
#table-parameter a{
    float: right;
    padding-right: 20%;
}
/* ---------------------REPONSIVE------------------- */
@media only screen and (max-width: 991px) {
    #main-product-image{
        width: 300px!important;
        height: 300px !important;
    }
    #wrap-info{
        margin: 0 !important;
    }
    #promotion-zero figure {
        width: 122px;
    }
}
@media only screen and (max-width: 767px) {


}
@media only screen and (max-width: 320px) {
    #promotion-zero figure{
        width: 102px;
    }
}